header
{
	text-align: center;
	display: flex;
	
}


.logo-lycee
{
	text-align: left;
	height: 80px;
}

.logo-mdl
{
	text-align: right;
	height: 110px;
}

body
{
	margin: 25px;
}

footer
{
	background-color: black;
	text-align: center;
	position: relative;
	color: white;
	padding: 10px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	header
	{
		flex-direction: column;
	}
}
